div {
    background-color: black;
    padding: 0;
    margin: 0
}
nav ul li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    color: white;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    
}
header h1{
    color: white;
    font-size: 3em;
    padding: 50px;
}
img{
    width: 200px;
}

h3{
    color: white;
    font-size: 2em;
}
p{
    color: white;
}